
h1{
    padding-left: 20px;
    color: #2c0c45;
}
.container{
    display: flex; 
    height: 100vh; 
}

.left{
    background-color: bisque;
    flex:1.25;
}
.right{
    background-color: darkgray;
    flex:0.75;

}
#img{
    padding-left:150px ;
    padding-top: 20px;
}
li{
    list-style:url("/shared-assets/images/examples/rocket.svg");
    line-height: 1.6rem;
    text-size-adjust: 20px;
    text-align: left;
    padding-right: 15px;
    font-size:20px;
    color: #052b58;
    
}